body{
    background-image: url("../Images/subtle-pattern-7.jpg");
    /*background-size: 100% auto;*/
    color: #5a5a5a;
}

table{
    border-radius: 10px;
    background-color: rgba(0,0,0, .15);
    border-collapse: collapse;
}



.border{
    border-bottom: 1px outset darkslategray;
    border-top: 1px outset darkslategray;
}



.content{
    position: static;
    z-index: 10;
    margin-top: 175px;
    margin-bottom: 30px;
}



.cover-container {
    margin-right: auto;
    margin-left: auto;
}


/* features */
.featurette-divider{
    margin: 50px 0;
    height: 1px;
    background-color: #81bfde;
}

.featurette-heading{
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
    color: #ffffff;
}

/* cell contents */
.about-summary{
    font-size: 18px;
    line-height: 1.4;
    width: 45%;
    padding: 20px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    text-align: center;
    word-wrap: break-word;
    background-color: rgba(255,255,255,.85);
}

.about-summary img{
    margin-right: auto;
    margin-left: auto;
}

.about-summary p{
    color: #5a5a5a;
    padding: 5px;
    text-align: justify;
    margin-right: auto;
    margin-left: auto;
}

.background-list{
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
}

.background-list td{
    padding-left: 20px;
}

.featurette{
    background-color: rgba(0,0,0,.15);
    border-radius: 10px;
}

.featurette:hover{
    background-color: rgba(0,0,0,.30);
}

.first-letter{
    margin-left: 20px;
    font-size: larger;
    color: #999999;

}

.underline, h2, h4{
    text-align: center;
}

.row{
    text-align: center;
}

.marketing{
    background-color: rgba(255,255,255,0.35);
    border-radius: 10px;
}

.lead{
    color: lightslategray;
}

.languages{
    color: slategrey;
}


/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
    box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}

.text-right{
    padding-left: 20px;
    float: right;
    text-align: right;
}


.underline{
    text-decoration: underline;
}


@media (min-width: 768px) {

    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 992px) {
    .featurette-heading {
        margin-top: auto;
    }
}
